.site-catalog {
}
// Галерея фотографий
.photo-gallery {
}

.photo-gallery__title {
  color: #ffffff;
  display: block;
  background-color: #000000;
  background-image: url("../img/catalog-img/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 12%;
  padding-top: 95px;
  padding-bottom: 84px;
  margin: 0;
  margin-bottom: 54px;
}

.photo-gallery__sub-title {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding: 0 12%;
  margin: 0;
  margin-bottom: 60px;
}

.photo-gallery__list {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cards-list {
  padding: 0;
  list-style: none;
}

.cards-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  padding: 0 17px;
  padding-bottom: 16px;
  margin: 0;
  margin-bottom: 20px;
}

.cards-list__image {
  align-self: center;
  display: block;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  &--panorama {
    min-width: 400px;
    max-height: 137px;
  }
}


.cards-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.cards-list__comment-time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.cards-list__comment {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.cards-list__favorites {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 32px;
  border: none;
  background-color: transparent;
  color: #d22856;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;

  &--active {
  }
}

.cards-list__value-favorites {
  display: inline;
  max-width: 50px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
// Exit галерея фотографий

// Графический редактор
.photo-editor {
}

.photo-editor__form {

}

.editor {

}

.editor__title {
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 52px;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.editor__image {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  background-color: #f2f2f2;
}

.editor__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 44px;
  padding-bottom: 34px;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #dedfe1;
}

.editor__item {
  margin: 0 auto;
  padding: 0;
}

.editor__button {

  &--active {
  }

  &--crop {
  }

  &--fill {
  }

  &--contrast {
  }
}

.editor__range {
}

.range {

  &--hidden {
  }
}

.range__toggle {

  &--crop {
  }

  &--fill {
  }

  &--contrast {
  }
}

.editor__wrapper-button-form {
  background-color: #f2f2f2;
  padding: 0;
  padding-top: 38px;
  padding-bottom: 42px;
}

.editor__button-form {
  margin: 0 auto;
}
