// Галерея фотографий
.photo-gallery {
}

.photo-gallery__title {
  color: #ffffff;
  display: block;
  background-color: #1d2631;
  background-image: url("../img/catalog-img/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0 12%;
  padding-top: 95px;
  padding-bottom: 84px;
  margin: 0;
  margin-bottom: 54px;
}

@media (min-resolution: 2dppx) {
  .photo-gallery__title {
    background-image: url("../img/catalog-img/gallery-bg@2x.jpg");
  }
}

.photo-gallery__sub-title {
  max-width: 280px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.photo-gallery__list {
  margin: 0;
  margin-bottom: 50px;
}

//  Cтили галереи фотографий на планшет
@media (min-width: @tablet-width) {
  .photo-gallery__title {
    min-width: 100%;
    background-image: url("../img/catalog-img/gallery-bg-tablet.jpg");
    background-size: contain;
    padding: 0 20px;
    padding-top: 192px;
    padding-bottom: 146px;
    margin: 0;
    margin-bottom: 100px;
  }

  @media (min-resolution: 2dppx) {
    .photo-gallery__title {
      background-image: url("../img/catalog-img/gallery-bg-tablet@2x.jpg");
    }
  }

  .photo-gallery__sub-title {
    max-width: 500px;
    font-size: 18px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 85px;
  }

  .photo-gallery__br-sub-title {
    display: none;
  }

  .photo-gallery__list {
    margin-bottom: 74px;
  }
}

//  Cтили галереи фотографий на PC
@media (min-width: @desktop_width) {
  .photo-gallery__title {
    background-image: url("../img/catalog-img/gallery-bg-desktop.jpg");
    padding-top: 184px;
    padding-bottom: 104px;
  }

  @media (min-resolution: 2dppx) {
    .photo-gallery__title {
      background-image: url("../img/catalog-img/gallery-bg-desktop@2x.jpg");
    }
  }

  .photo-gallery__sub-title {
    max-width: 572px;
    margin-bottom: 97px;
  }

  .photo-gallery__br-sub-title {
    display: block;
  }

  .photo-gallery__list {
    margin-bottom: 68px;
  }
}
