.site-forms {
}

.site-forms__intro {
}

.intro-forms {
}

.intro-forms__title {
  color: #ffffff;
  display: block;
  background-color: #000000;
  background-image: url("../img/catalog-img/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 12%;
  padding-top: 95px;
  padding-bottom: 84px;
  margin: 0;
  margin-bottom: 54px;
}

.site-forms__form-section {
}

.form-section {
}

.form-section__subtitle {
  max-width: 280px;
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 0;
}

.form {
}

.form__fildset-wrapper {
  background-color: #f2f2f2;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 12px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 0;
}

.form__legend {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;

  &--emotion {
    margin-bottom: 22px;
  }
}

.form__lable {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;

  &--checked {
    text-transform: none;
    color: #283645;
    font-size: 18px;
  }
}

.form__input {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.input {
  min-width: 280px;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 30px;
  padding: 23px 20px;
  display: block;
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  border: 2px solid #e5e5e5;
  border-radius: 1px;

  &--required {
  }

  &--mail {
  }
  &--number {

  }
}

.form__input-checkbox {
  margin: 0;
  margin-bottom: 70px;
  margin-right: 22px;
  padding: 0;
}

.input-checkbox {

  &--last-child {
    margin-bottom: 0;
  }
}

.form__input-radio {
  margin: 0;
  margin-bottom: 62px;
  margin-right: 54px;
  padding: 0;
}

.input-radio {

  &--last-child {
    margin-bottom: 0;
  }
}

.form__textarea {
  margin-bottom: 10px;
  border: 2px solid #e5e5e5;
  padding: 22px 20px 0;
  width: 280px;
  height: 200px;
  resize: none;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }
}

.form__button {
  margin: 0 auto;
  margin-bottom: 46px;
}

.form-section__sign {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form-section__sign-star {
  color: #d22856;
}
